@fontsize:20px;
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee


#rpnm_module_content{
    line-height:30px;
}
.rpnm_input{
    font-size: @fontsize;
}

/*marker*/
.marker{
    font-size:@fontsize;
}
.marker .marker-primary{
    background-color: #428bca;
}
.marker .marker-success{
    background-color: #5cb85c;
}
.marker .marker-info{
    background-color: #5bc0de;
}
.marker .marker-warning{
    background-color: #f0ad4e;
}
.marker .marker-danger{
    background-color: #d9534f;
}

/*mqc*/
.mqc{
    font-size:@fontsize;
}

/*gapsimple*/
.gapsimple{
    font-size:@fontsize;
}
.gapsimpleddtoolbar span{
    margin-right:10px;
    background-color:@brand-info;
}
.gapsimpledd{
}
.gapsimpleddresponse div{
    display:inline-block;
    
    width:70px;
    height:20px;
}
.gapsimpleddresponse{
    display:inline-block;
    
    min-width:20px;
}

/*gapfull*/
.gapfull{
    font-size:@fontsize;
}
.gapfull #sentences p{
    padding: 0px 12px;
}

/*clock*/
.clock #rpnclock{
    height:450px;
}

/*blackbox*/
.blackbox .blackbox{
    text-align: center;
}
.blackbox .operation{
    white-space: nowrap;
}
.pop-Add{
    font-size:10px;
    background-color:red;
    color:white;
    display:none;
}
/*cardmaze*/
.cardmaze .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.cardmaze .card{
    text-align: center;
    height: 70px;
}
.cardmaze .selected, .cardmaze .selected.selectable:hover{
    background-color:@brand-info;
    cursor:pointer;
}
.cardmaze .selectable{
    cursor:pointer;
}
.cardmaze .selectable:hover{
    background-color:@gray-lighter;
}
.cardmaze .card.selected.end, .cardmaze .selected.start{
    background-color:@brand-success;
}
.cardmaze .end, .cardmaze .start{
    background-color:@gray-lighter;
}

/*dragdropsorting*/
.draggable{
    background-color:@brand-info;
    text-align:center;
    height:30px;
    cursor:pointer;
}

body.dragging, body.dragging * {
  cursor: move !important;
}
.dragthis{
    height:100px;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.droppable{
    text-align:center;
    min-height:100px;
    background-color: @gray-lighter;
}
.dragdropsorting ul li.placeholder {
  position: relative;
  /** More li styles **/
}
.dragdropsorting ul li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

/*dropdown*/
.dropdown{
    font-size:@fontsize;
}