#mainContent{
    line-height:30px;
}
.rpnmodule-input{
    font-size: 20px;
}
.rpnmodule_marker{
    font-size:20px;
}
.rpnmodule_marker marker-danger{
    background-color: #d9534f;
}
.rpnmodule_marker .marker-primary{
    background-color: #428bca;
}
.rpnmodule_marker .marker-success{
    background-color: #5cb85c;
}
.rpnmodule_marker .marker-info{
    background-color: #5bc0de;
}
.rpnmodule_marker .marker-warning{
    background-color: #f0ad4e;
}
.rpnmodule_marker .marker-danger{
    background-color: #d9534f;
}
.rpnmodule_mqc{
    font-size:20px;
}
.rpnmodule_gapsimple{
    font-size:20px;
}
.rpnmodule_gapfull{
    font-size:20px;
}
.rpnmodule_gapfull #sentences p{
    padding: 0px 12px;
}
.rpnmodule_clock #rpnclock{
    height:400px;
}


