@fontsize:20px;
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee


#rpnm_module_content{
    line-height:30px;
}
.rpnm_input{
    font-size: @fontsize;
}
.marker{
    font-size:@fontsize;
}
.marker .marker-primary{
    background-color: #428bca;
}
.marker .marker-success{
    background-color: #5cb85c;
}
.marker .marker-info{
    background-color: #5bc0de;
}
.marker .marker-warning{
    background-color: #f0ad4e;
}
.marker .marker-danger{
    background-color: #d9534f;
}
.mqc{
    font-size:@fontsize;
}
.gapsimple{
    font-size:@fontsize;
}
.gapfull{
    font-size:@fontsize;
}
.gapfull #sentences p{
    padding: 0px 12px;
}
.clock #rpnclock{
    height:400px;
}
.blackbox .blackbox{
    text-align: center;
}
.blackbox .operation{
    white-space: nowrap;
}
.cardmaze .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.cardmaze .card{
    text-align: center;
    height: 70px;
}
.cardmaze .selected, .cardmaze .selected.selectable:hover{
    background-color:@brand-info;
    cursor:pointer;
}
.cardmaze .selectable{
    cursor:pointer;
}
.cardmaze .selectable:hover{
    background-color:@gray-lighter;
}

.cardmaze .card.selected.end, .cardmaze .selected.start{
    background-color:@brand-success;
}

.cardmaze .end, .cardmaze .start{
    background-color:@gray-lighter;
}
.cardmaze .fromtop{
    
}
.cardmaze .frombottom{
    
}
.cardmaze .fromright{
    
}
.cardmaze .fromleft{
    
}



/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.column {
    height: 150px;
    width: 150px;
    float: left;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}
.column header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
.column.over {
    border: 2px dashed #000;
}

